*tmp*
alfworld_runs/archive/*
alfworld_runs/game_logs/*
__pycache__

webshop_runs/*.img
webshop_runs/*.simg
webshop_runs/webshop_results_*.txt
webshop_runs/results/*
webshop_runs/results_test/*
webshop_runs/*.csv

alfworld_runs/*.csv

textcraft_runs/results/*